#root {
  max-width: 1280px;
  margin: 0 auto;
}

/* Container */

.center-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2.5rem;
}

/* Navigation */

.primary-navigation{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-logo{
  font-weight: var(--font-bold);
}

.primary-navigation .nav-list{
  display: flex;
  list-style-type: none;
  padding: 0;
  gap: 7rem;
}

.primary-navigation .nav-list .nav-item a{
  text-decoration: none;
  color: var(--color-black-faded);
}

.primary-navigation .nav-list .nav-item a:hover{
  text-decoration: none;
  color: var(--color-primary-darker);
  transition: all 0.2s ease;
}

.suggestion{
  padding: 5px;
}

/* inputs */

.input{
  color: var(--color-black-faded);
  width: 33rem;
  height: 1.875rem;
  padding: 10px 20px;
  font-weight: var(--font-regular);
  font-size: var(--font-normal);
  border: 2px solid var(--color-primary);
  border-radius: 20px;
}

.input:focus{
  outline: none;
}

/* Links */

.link {
  color: var(--color-primary-darker);
  cursor: pointer;
}

.link:hover {
  border-bottom: 0.125rem solid var(--color-primary-darker);
}