#root {
  max-width: 1280px;
  margin: 0 auto;
}

/* Navigation */

.primary-navigation{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-logo{
  font-weight: var(--font-bold);
}

.primary-navigation .nav-list{
  display: flex;
  list-style-type: none;
  padding: 0;
  gap: 7rem;
}

.primary-navigation .nav-list .nav-item a{
  text-decoration: none;
  color: var(--color-black-faded);
}

.primary-navigation .nav-list .nav-item a:hover{
  text-decoration: none;
  color: var(--color-primary-darker);
  transition: all 0.2s ease;
}
